.slider-wrapper {
  width: 450px;
  height: 300px;
  overflow: hidden;
  position: relative;
  .slides {
    height: 300px;
    img {
      float: left;
      display: inline-block;
      height: 100%;

    }
  }
  .slide-nav {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    button {
      color: white;
      font-size: 30px;
      background-color: rgba(0,0,0,0.5);
      border: 0;
      position: absolute;
      top: 0;
      width: 30px;
      height: 100%;
      outline: 0;
      &:hover {
        background-color: rgba(0,0,0,0.8);
      }
    }
    .prev {
      left: 0;
    }
    .next {
      right: 0;
    }
  }
}